mixin add(n, complaint, mail, timestamp, truth)
  tr
    td.min(data-label="N") #{n}
    td.min(data-label="Complaint") #{complaint}
    td.min(data-label="Mail")  #{mail}
    td.min(data-label="Timestamp") #{timestamp}
    td.min(data-label="Truth") #{truth}

html
    head
        title Denuncia
        meta(charset="UTF-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet")
    body        
        .container
          .event-registration.reset
            .content.wide
              .row-inset
                table.table
                  thead(data-header="true").thead-dark
                    tr
                      th(data-sort-column="true") N
                      th(data-sort-column="true") Complaint
                      th(data-sort-column="true") Mail
                      th(data-sort-column="true") Timestamp
                      th(data-sort-column="true") Truth
                  tbody(data-body="true")
                  - for (var i = ledgerQuery.length - 1; i>=0; i--)
                    +add(ledgerQuery[i][0], ledgerQuery[i][1], ledgerQuery[i][2], ledgerQuery[i][3], ledgerQuery[i][4])

 